<component name="ArtifactManager">
  <artifact type="war" name="SpringMvcBootStrap:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="com.hesy.SpringMvcBootStrap.war">
      <element id="artifact" artifact-name="SpringMvcBootStrap:war exploded" />
    </root>
  </artifact>
</component>